.backPick{
/* background-image: url('../../../images/eventimg2.jpg'); */
background-image: url('../../../images/eventimg2.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

