 .containerOne {
  /*  height: auto; */
    width:100%;height: 100%;}
   /*  position:relative;
    background-image: url('../../../images/funeral1.jpg'); 
   background-position: center; 
}  */
/*   .containerOne::after{
    height:90%;
    content:' ';
    position: absolute;
    top: 0;
    right:0;
    width: 25%;
    background-color: #3A4256;
    z-index: -3;
}
   */